*
!images/
!images/**
!data/
data/*
!data/edits/
data/edits/*
!data/edits/local-wildcard.conf
!data/edits/make-changes.md
!data/edits/twentytwentyfive/
!data/edits/twentytwentyfive/**
!data/wp-comman/
data/wp-comman/*
!data/wp-comman/wp-config.php
!data/wp-comman/wp-resolve/
!data/wp-comman/wp-resolve/**
!data/wp-comman/adminer/
!data/wp-comman/adminer/**
!docker-compose.yml
!.env
!README.md
